/* ===== GLOBAL GAMING MODE (MEJORADO) ===== */

body {
  background: #0d0f14;
  color: #e5e7eb;
  font-family: 'Inter', sans-serif;
  padding-top: 20px; /* SEPARA TODO DEL BORDE SUPERIOR */
}

input {
  margin-bottom: 16px; /* SEPARA MÁS DEL CONTENIDO */
}
/* ===== FILTROS HOME ===== */

.filters-container {
  display: flex;
  gap: 20px;
  margin-bottom: 28px;
  flex-wrap: wrap;
}

/* BUSCADOR */
.input-search {
  background: #1a1f29;
  color: #e5e7eb;
  border: 1px solid #334155;
  padding: 12px 18px;
  border-radius: 10px;
  width: 260px;
  font-size: 1rem;
  transition: 0.25s;
}

.input-search:focus {
  outline: none;
  border-color: #60a5fa;
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.5);
}

.input-search:hover {
  border-color: #60a5fa;
}

/* SELECT (GÉNERO) */
.input-select {
  background: #1a1f29;
  color: #e5e7eb;
  border: 1px solid #334155;
  padding: 12px 18px;
  border-radius: 10px;
  width: 200px;
  font-size: 1rem;
  transition: 0.25s;
  cursor: pointer;
}

.input-select:focus {
  outline: none;
  border-color: #60a5fa;
  box-shadow: 0 0 10px rgba(96, 165, 250, 0.5);
}

.input-select:hover {
  border-color: #60a5fa;
}

/* responsive */
@media (max-width: 600px) {
  .filters-container {
    flex-direction: column;
    gap: 14px;
  }

  .input-search,
  .input-select {
    width: 100%;
  }
}
