/* ===== ANIMATIONS ===== */

.slide-up {
    animation: slideUp 0.5s ease;
  }
  
  @keyframes slideUp {
    from { opacity: 0; transform: translateY(15px); }
    to { opacity: 1; transform: translateY(0); }
  }
  
  .zoom-in {
    animation: zoomIn 0.3s ease;
  }
  
  @keyframes zoomIn {
    from { transform: scale(0.95); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
  }
  
  .fade {
    animation: fade 0.6s ease;
  }
  
  @keyframes fade {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  